@import "~@angular/material/theming";
@import "../constant.scss";

@mixin app-action-bar($config-or-theme, $typography) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($map: $config,
      $key: primary,
    );
  $accent: map-get($map: $config,
      $key: accent,
    );
  $opacity: 0.075;

  .app-action-bar {
    mat-icon {
      font-size: mat-font-size($typography, 'subheading-2');

    }
  }

  .app-action-bar.desktop {
    border-color: mat-color($accent, "500-contrast", 0.2);
    color: mat-color($accent, 500, .7);

    // .app-action-bar-inner {
    //   color: mat-color($primary, '500-contrast');
    //   background-color: mat-color($primary);
    // }

    @include mat-elevation(0, mat-color($primary, "100-contrast", 0.07), 0.4);

    mat-action-list.mat-list-base {
      padding-top: 0px;
    }
  }



  .app-action-bar.mobile {
    mat-action-list.mat-list-base {
      padding-top: 0px;
    }



    h3 {
      margin-left: 0px !important;
      margin-right: 0px !important;
      @include mat-typography-level-to-styles($typography, subheading-2);
      color: mat-color($accent, 500);
    }
  }
}
