@import "../../../theming/constant.scss";

.app-page-header {
  display: flex;
  align-items: center;

  app-search-input-field {
    flex-grow: 1;
  }


}

._content {
  padding-top: $kEdgePadding;
}
