<ng-container *ngIf="!(mediaQueryService.isSmallScreen | async)">
    <div class="desktop">
        <app-page-actions-desktop [appPageActions]="appPageActions" [title]="title">
            <ng-container appPageActions>
                <ng-content select="mat-action-list.desktop"></ng-content>
            </ng-container>

        </app-page-actions-desktop>
    </div>
</ng-container>
<ng-container *ngIf="(mediaQueryService.isSmallScreen | async)">
    <div class="app-border-boundary-bottom mobile">
        <app-page-actions-mobile [title]="title">
            <ng-container appPageActions>
                <ng-content select="mat-action-list.mobile"></ng-content>
            </ng-container>
        </app-page-actions-mobile>



    </div>

</ng-container>