<div class="app-container">
    <!-- Dashboard layout for larg screens -->
    <div *ngIf="!(isSmallScreen | async)">
        <mat-toolbar color="primary" class="app-border-boundary-bottom">
            <app-toolbar>
                <div search>
                    <button mat-icon-button color="accent" *ngIf="searching" (click)="stopSearch()">
                        <mat-icon>
                            arrow_back
                        </mat-icon>
                    </button>
                    <app-search-input-field (input)="startSearch($event)" (submit)="startSearch($event)">
                    </app-search-input-field>
                </div>
            </app-toolbar>
        </mat-toolbar>
        <mat-sidenav-container autosize>
            <mat-sidenav mode="side" disableClose [class.expanded]="menuState | async" fixedInViewport
                [fixedTopGap]="64" [fixedBottomGap]="0" [opened]="true" class="app-border-boundary-right">
                <app-sidenav [menu]="menu" [expanded]="menuState | async">

                </app-sidenav>
                <div class="new-button">
                    <app-new-object [expanded]="menuState | async"></app-new-object>
                </div>
            </mat-sidenav>
            <mat-sidenav-content color="background">
                <router-outlet></router-outlet>

            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    <!-- Dashboard layout for small screens -->
    <div *ngIf="(isSmallScreen | async)">
        <div class="mobile-container">
            <app-new-object [expanded]="false"></app-new-object>
            <mat-toolbar color="primary" class="app-border-boundary-top">
                <app-mobile-toolbar [menu]="mobileMenu"></app-mobile-toolbar>
            </mat-toolbar>
        </div>
    </div>
</div>