@import "../../../theming/constant.scss";
@import "~@angular/material/theming";

.app-container {
  width: 100vw;
  height: 100vh;

  mat-toolbar {
    app-toolbar {
      width: 100%;
      display: block;
    }
  }

  > {
    div {
      width: 100%;
      height: 100%;



      > {
        mat-sidenav-container {
          position: absolute;
          top: $mat-toolbar-height-desktop;
          right: 0;
          bottom: 0;
          left: 0;
          $new-button-side-padding: 14px;

          mat-sidenav.expanded {
            width: $kSidenavWidth;

            .new-button {
              padding-left: $new-button-side-padding;
              padding-right: $new-button-side-padding;
              width: calc(100% - #{2 * $new-button-side-padding});
            }
          }

          mat-sidenav {
            .new-button {
              position: absolute;
              bottom: $kEdgePadding * 2;

            }

            &:not(.expanded) {
              .new-button {
                width: 100%;
                display: flex;

                app-new-object {
                  margin: 0 auto;
                }
              }
            }
          }

        }
      }

      .mobile-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;

        padding-bottom: $mat-toolbar-height-mobile; //this is to ensure a user can scroll to content covered by the bottom toolbar

        mat-toolbar {
          position: absolute;
          bottom: 0;

          app-mobile-toolbar {
            display: block;
            width: 100%;
          }

          z-index: 3;
        }

        app-new-object {
          position: absolute;
          bottom: calc(#{$mat-toolbar-height-mobile * 1.25});
          left: calc(#{$kEdgePadding});
          z-index: 4;
        }

        .outlet {
          position: absolute;
          bottom: $mat-toolbar-height-mobile;
          left: 0;
          right: 0;
          top: 0;
          z-index: 0;
        }
      }
    }


  }
}
