<div class="_container">
    <mat-toolbar color="primary" class="mat-elevation-z4">
        <div class="app-max-container center">
            <h1 class="mat-h1">
                <a routerLink="/" mat-button>
                    <span class="mat-h1">
                        {{appInfoService?.name | async | uppercase}}
                    </span>
                </a>
            </h1>
            <div class="_appbar-actions">
                <button mat-stroked-button
                    class="app-border-radius-100 app-padding-left-35 app-padding-right-35 app-padding-bottom-4"
                    color="accent">
                    <span class="mat-h2 app-margin-bottom-0">Login</span>
                </button>
                <button mat-raised-button
                    class="app-border-radius-100 app-padding-left-35 app-padding-right-35 app-padding-bottom-4 app-margin-left-20"
                    color="accent">
                    <span class="mat-h2 app-padding-bottom-0">
                        Get Started
                    </span>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="_hero">
        <div class="_circle-1 app-background-color-accent">
        </div>
        <div class="_svg-container">

        </div>

        <div class="_hero-content">
            <div class="app-max-container center app-padding-16 app-padding-left-40">
                <div class="_hero-tag">
                    <h1 class="app-color-primary app-margin-top-34 app-font-size-30 app-padding-right-40">
                        Access all Your Notebooks and notes in one place
                    </h1>
                </div>
                <div class="_hero-tag-side">

                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center app-font-size-22 app-margin-top-34">
        Access All your note
    </h2>

    <div class="_anytime app-margin-top-100">
        <div class="_anytime-content app-max-container center app-padding-16">
            <div>
                <h2>
                    Anytime
                </h2>
                <p>
                    You no longer have to worry of not <br>
                    having pen and paper beside you to <br>
                    record that important idea when it pops <br>
                    up. <br>
                    Just come here at anytime and you can <br>
                    access your important ideas for life
                </p>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>