<div class="app-page">
    <div class="app-page-header">
        <app-page-actions [appPageActions]="true" [title]="'Notebooks'">
            <!-- <mat-action-list class="desktop">
                <button mat-icon-button>
                    <mat-icon>
                        save
                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        print
                    </mat-icon>
                </button>
            </mat-action-list>
            <mat-action-list class="mobile">
                <button mat-icon-button>
                    <mat-icon>
                        save
                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        print
                    </mat-icon>
                </button>
            </mat-action-list> -->

        </app-page-actions>
    </div>
    <div class="app-page-content">
        <app-notebook-card-list [notebooks]="notebooks" (delete)="handleDelete($event)"
            (details)="notebookService.showDetails(notebooks[$event])" (settings)="editNotebookDetails($event)">
        </app-notebook-card-list>
    </div>

</div>