@import "~@angular/material/theming";
/* For use in src/lib/core/theming/_palette.scss */
$app-warn: (50 : #fbe5ec,
  100 : #f6bdcf,
  200 : #f092af,
  300 : #e9668e,
  400 : #e54576,
  500 : #e0245e,
  600 : #dc2056,
  700 : #d81b4c,
  800 : #d31642,
  900 : #cb0d31,
  A100 : #fff7f9,
  A200 : #ffc4cd,
  A400 : #ff91a2,
  A700 : #ff788c,
  contrast: (50 : #14171a,
    100 : #14171a,
    200 : #14171a,
    300 : #14171a,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #14171a,
    A200 : #14171a,
    A400 : #14171a,
    A700 : #14171a,
  ));

$app-warn-palette: mat-palette($app-warn);
