@import "~@angular/material/theming";
$app-typography: mat-typography-config($font-family: 'Roboto, monospace',
  $display-4: mat-typography-level(28px, 42px, 500),
  $display-3: mat-typography-level(24px, 36px, 500),
  $display-2: mat-typography-level(20px, 30px, 500),
  $display-1: mat-typography-level(18px, 27px, 400),
  $headline: mat-typography-level(19px, 29px, 500),
  $title: mat-typography-level(17px, 26px, 500),
  $subheading-2: mat-typography-level(15px, 23px, 400),
  $subheading-1: mat-typography-level(13px, 20px, 400),
  $body-2: mat-typography-level(14px, 21px, 500),
  $body-1: mat-typography-level(14px, 21px, 400),
  $caption: mat-typography-level(12px, 18px, 300),
  $button: mat-typography-level(15px, 23px, 500),
  $input: mat-typography-level(15px, 23px, 400),
);
