._delete-notebook-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  p {
    text-align: center;
  }

  ._checkbox {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
