<div class="_delete-notebook-dialog">
    <h1>
        Delete Notebook
    </h1>
    <p>
        This can't be undone. All notes in this notebook will be moved into the default notebook. You can delete the
        note in this book by checking the checkbox below
    </p>

    <div class="_checkbox">
        <mat-checkbox [(ngModel)]="result.deleteNotes">
            Delete notes in this book
        </mat-checkbox>
    </div>

    <div class="buttons app-margin-top-14">
        <button mat-button (click)="close()" color="foreground"
            class="app-cancel-button app-padding-left-40 app-padding-right-40 app-border-radius-100 app-margin-right-7">
            Cancel
        </button>
        <button mat-flat-button color="warn" (click)="submit()"
            class="app-padding-left-40 app-padding-right-40 app-border-radius-100 app-margin-left-7">
            Delete
        </button>
    </div>
</div>